.remove-assignment-content {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-container {
  color: #191919;
  height: 100vh;
  position: relative; /* Add this to position the content inside */
  background-image: linear-gradient(rgba(44, 7, 7, 0.5), rgba(103, 39, 39, 0.5));
  padding: 20px; /* Add padding to create space around content */
  box-sizing: border-box;
}
  
.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Make sure the image covers the entire container */
  height: 100%; /* Ensure the image covers the entire container */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  z-index: -1; /* Send the image to the background */
}

.Hero-Text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.about {
  width: 100%;
  background-color: #191919;
  height: 500px;
  display: flex; /* Add this to make children flex items */
  align-items: center; /* Vertically center align items */
  justify-content: flex-start;
}

.about img {
  height: 64%;
  width: 64%; 
  align-self: flex-start;
  padding: 0 20px;
  margin: 20px 20px; /* Add padding to create space around content */
  box-sizing: border-box;
  flex: 1;
  margin-left: -20px;
}

.about-text {
  flex: 1; /* Let the text content take remaining space */
  padding: 0 20px; /* Add padding for spacing */
  margin: 0 20px;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text h1 {
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text p {
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}


button{
  background-color: #6f0426;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 0;
  transition: .4s;

}

button:hover{
  background-color: transparent;
  border: 2px solid #6f0426;
  cursor: pointer;

}

.accordion {
  background-color: #191919;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: 2px #6f0426;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #191919;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.footer-container {
  background-color: #f2efea;
  width: 100%;
  height: 300px;
  position: relative;
}

@media (max-width: 768px) {
  .hero-image {
    flex: 1 0 calc(100% - 20px);
  }

  .hero-container{
    flex: 1 0 calc(100% - 20px);
  }

  .Hero-Text{
    flex: 1 0 calc(100% - 20px);
  }

}

@media (min-width: 768px) {
  .hero-image {
    flex: 1 0 calc(50% - 20px); 
  }

  .hero-container{
    flex: 1 0 calc(50% - 20px);
  }

  .Hero-Text{
    flex: 1 0 calc(50% - 20px);
  }
}

@media (min-width: 1200px) {
  .hero-image {
    flex: 1 0 calc(33% - 20px);
  }

  .hero-container{
    flex: 1 0 calc(33% - 20px);
  }

  .Hero-Text{
    flex: 1 0 calc(33% - 20px);
  }
  
}